* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif !important;
    background: #f2f2f2;
}

p{
    color: #282b68; 
}

h1, h2, h3, h4{
    color: #282b68;
}

/* Preloader */

.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

/* HEADER */

header{
    width: 100%;
    height: 580px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 22%, 87%, 0.63), hsla(220, 100%, 99%, 0.596)), url(../img/header3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 22%, 87%, 0.63), hsla(210, 22%, 87%, 0.63)), url(../img/header3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.titulo-uno{
    color: #282b68;
}

#encabezado {
    padding: 71px 0 71px 0;
}

.logo-encabezado {
    max-width: 18rem;
}

.imgFan {
    max-width: 2.5rem;
}

/* ESTILOS PARA NUEVAS PAGINAS */

.headerPag {
    width: 100%;
    height: 580px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(208, 85%, 61%, 0.37), hsla(235, 72%, 29%, 0.589)), url(../img/imgPages.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 85%, 61%, 0.37), hsla(235, 72%, 29%, 0.589)), url(../img/imgPages.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#titulo-pags {
    padding: 130px 0 130px 0;
}

.titulo-uno-pgs{
    color: #fff !important;
}

#backSeccNoColor {
    padding: auto;
}

.figure-serv {
    max-width: 300px !important;
}

.figure-img{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

.figure-img:hover{
    transform: scale(1.2);
}

/* NAV*/
nav {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.cont-nav {
    margin: auto;
    height: inherit;
    overflow: hidden;
}

/* COLOR LETRAS */
nav ul li > a {
    color: #000 !important;
    font-size: 18px !important;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: inherit;
}

/* SUBRAYADO */
nav ul li > a:hover {
    border-bottom: 0.1px solid #000;
    transition: 0.1s;
}

/* COLOR SUBMENU */
.dropdown-menu {
    background-color: #fff !important;
}

/* CLIENTES CARRUSEL*/
.imgCliente{
    max-height: 200px !important;
    padding: 10px;
}

/* PROYECTOS EJECUTADOS */

.imagen-port {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 50%;
}

.imagen-port>img {
    width: auto;
    height: 45vh;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    color: #f2f2f2;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(236, 46%, 30%, 0.719);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}

.hover-galeria img {
    width: 5.12rem;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.imgProd {
    max-width: 350px !important;
}

/*  Formulario de contacto */

#contacto {
    padding: 30px 30px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(208, 100%, 29%, 0.322), hsla(235, 86%, 5%, 0.76)), url(../img/contacto/engranages.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 100%, 29%, 0.322), hsla(235, 86%, 5%, 0.76)), url(../img/contacto/engranages.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section form div>label {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #414141;
    outline: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    width: 400px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #414141;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 20px 20px 20px 20px;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #666;
    color: #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

label,
legend {
    display: block;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 20px;
}

label span,
legend span {
    font-weight: normal;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

input#boton {
    padding: 10px 50px;
    color: #414141;
    font-family: "open sans"bold;
    font-size: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    font-weight: 600;
}

input#boton:hover {
    background-color: rgb(20, 152, 164);
    text-decoration: none;
}

input#botonReset {
    padding: 10px 25px;
    color: #414141;
    font-family: "open sans" bold;
    font-size: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    font-weight: 600;
}

input#botonReset:hover {
    background-color: rgb(20, 152, 164);
    text-decoration: none;
}


/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.content-foo a {
    color: #ccc;
    text-decoration: none;
}

.titulo-final {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/* DISEÑO RESPONSIVE */

/* pantalla xl */
@media screen and (max-width: 1200px) {

    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }
}


/* pantalla lg */
@media screen and (max-width: 992px) {


    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }
}

/* pantalla md */
@media screen and (max-width: 720px) {
    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }

}

/* pantalla sm */
@media screen and (max-width: 576px) {

    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }
}