:root {
    --fondoNav: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";
    background: var(--fondoNav);
}


/* HEADER */

header {
    width: 100%;
    height: 620px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(208, 85%, 61%, 0.63), hsla(235, 72%, 29%, 0.459)), url(../img/header2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 85%, 61%, 0.63), hsla(235, 72%, 29%, 0.459)), url(../img/header2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* ESTILOS PARA NUEVAS PAGINAS */

.headerPag {
    width: 100%;
    height: 590px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(208, 85%, 61%, 0.37), hsla(235, 72%, 29%, 0.356)), url(../img/imgPages.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 85%, 61%, 0.37), hsla(235, 72%, 29%, 0.356)), url(../img/imgPages.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#titulo-pags {
    padding: 130px 0 130px 0;
}

#titulo-pags-pr {
    padding: 155px 0 155px 0;
}

#backSeccColor {
    background-color: #B1D0E0;
    padding: auto;
}

#backSeccNoColor {
    padding: auto;
}

.imgServ {
    background-color: #B1D0E0;
}

.imgProd {
    max-width: 350px !important;
}

.figure-serv {
    max-width: 300px !important;
}

#encabezado {
    padding: 30px 0 0 0;
}

#encabezado-fanPage {
    padding: 30px 0 0 0;
}

.figure-img{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

/* NAV*/

.icono {
    display: none;
    /* font-size: 24px; */
    /* padding: 23.5px 20px; */
}

nav {
    width: 100%;
    height: 90px;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.nav1 {
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2 {
    background: var(--fondo);
    height: 100px;
    color: #000;
}

.cont-nav {
    display: flex;
    margin: auto;
    align-items: center;
    height: inherit;
    overflow: hidden;
}

nav ul li a {
    color: #fff !important;
    font-size: 1rem !important;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav ul li>a:hover {
    border-bottom: 1px solid #1498a4;
    transition: 0.1s;
}

.dropdown-menu {
    background-color: #6998ab !important;
}

.logo-encabezado {
    max-width: 18rem;
}

.imgFan {
    max-width: 3rem;
}

/* nuevo nav */

/* .contenedor-nav{
display: flex;
margin: auto;
width: 100%;
justify-content: center;
align-items: center;
max-width:1000px;
height:inherit;
overflow: hidden;
}
  
nav .enlaces a{
display: inline-block;
padding: 5px 0;
margin-right: 17px;
font-size: 17px;
font-weight: 300;
text-decoration: none;
border-bottom: 3px solid transparent;
color: inherit;
}

nav .enlaces a:hover{
border-bottom: 3px solid #1498a4;
transition: 0.6s;
} */

/* Preloader */

.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

/* QUIENES SOMOS*/


/* CLIENTES CARRUSEL*/

.carrusel {
    height: auto;
    display: flex;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
}

.carrusel-item {
    min-width: 310px;
    max-width: 320px;
    height: 250px;
    outline: 2px solid black;
    cursor: pointer;
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover {
    transform: scale(1.2);
}


/* PROYECTOS EJECUTADOS */

.imagen-port {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 50%;
}

.imagen-port>img {
    width: auto;
    height: 45vh;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    color: var(--fondoNav);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(236, 46%, 30%, 0.719);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}

.hover-galeria img {
    width: 5.12rem;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/*  Formulario de contacto */

#contacto {
    padding: 30px 30px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(208, 100%, 29%, 0.322), hsla(235, 86%, 5%, 0.76)), url(../img/contacto/engranages.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 100%, 29%, 0.322), hsla(235, 86%, 5%, 0.76)), url(../img/contacto/engranages.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section form div>label {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #414141;
    outline: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    width: 400px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #414141;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 20px 20px 20px 20px;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #666;
    color: #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

label,
legend {
    display: block;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 20px;
}

label span,
legend span {
    font-weight: normal;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

input#boton {
    padding: 10px 50px;
    color: #414141;
    font-family: "open sans"bold;
    font-size: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    font-weight: 600;
}

input#boton:hover {
    background-color: #030a7e;
    text-decoration: none;
}

input#botonReset {
    padding: 10px 25px;
    color: #414141;
    font-family: "open sans"bold;
    font-size: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    font-weight: 600;
}

input#botonReset:hover {
    background-color: #030a7e;
    text-decoration: none;
}


/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.content-foo a {
    color: #ccc;
    text-decoration: none;
}

.titulo-final {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: #9e9797;
}