/* DISEÑO RESPONSIVE */

/* pantalla xl */
@media screen and (max-width: 1200px) {

    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }
}


/* pantalla lg */
@media screen and (max-width: 992px) {


    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }
}

/* pantalla md */
@media screen and (max-width: 720px) {
    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }

}

/* pantalla sm */
@media screen and (max-width: 576px) {

    /* menu */

    /* encabezado */

    /* mision y vision */

    /* clientes */

    /* fomulario contacto */

    /* areas de mantenimiento */

    .mants {
        width: 200px !important;
    }
}